### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
tnof_schools = school_data_complete["school_name"].nunique()
tnof_students = school_data_complete["Student ID"].nunique()
xdup_school_data_complete = school_data_complete.drop_duplicates(subset='budget', keep='first', inplace=False)
district_budget=xdup_school_data_complete["budget"].sum()
average_math = round(school_data_complete["math_score"].mean())
average_reading = round(school_data_complete["reading_score"].mean())
overall_average_rate = (average_math + average_reading)/2
passing_math= school_data_complete.loc[school_data_complete["math_score"] >= 70]["math_score"].count()
percent_passing_math=passing_math/tnof_students
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70]["reading_score"].count()
percent_passing_reading=passing_reading/tnof_students
district_summary = pd.DataFrame({
    "Total Schools": [tnof_schools],
    "Total Students": [tnof_students],
    "District Budget": [district_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "Overall Average": [overall_average_rate],
    "% Passing Reading": [percent_passing_reading],
    "% Passing Math": [percent_passing_math]
    
})
district_summary.style.format({"Total Budget": "${:,.2f}",
                                "% Passing Reading": "{:.1%}",
                                "% Passing Math": "{:.1%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [7]:
sorted_school = school_data_complete.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
students_school = sorted_school['Student ID'].count()
school_budget = school_data.set_index('school_name')['budget']
student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
av_school_math = sorted_school['math_score'].mean()
av_school_reading = sorted_school['reading_score'].mean()
percent_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_school
percent_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_school
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/students_school

school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": students_school,
    "Total School Budget": school_budget,
    "Per Student Budget": student_budget,
    "Average Math Score": av_school_math,
    "Average Reading Score":av_school_reading,
    "% Passing Math": percent_math,
    "% Passing Reading": percent_reading,
    "Overall_Pass_Rate": overall_passing
})

school_summary.style.format({
                            "Total School Budget": "${:,}", 
                            "Per Student Budget": "${:.0f}",
                            "% Passing Math": "{:.1%}", 
                            "% Passing Reading": "{:.1%}", 
                            "Overall_Pass_Rate": "{:.1%}"    
})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [8]:
top_five = school_summary.sort_values('Overall_Pass_Rate', ascending = False)
top_five.head().style.format({
                            "Total School Budget": "${:,}", 
                            "Per Student Budget": "${:.0f}",
                            "% Passing Math": "{:.1%}", 
                            "% Passing Reading": "{:.1%}", 
                            "Overall_Pass_Rate": "{:.1%}" 
})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [9]:
bottom_five = top_five.tail()
bottom_five = bottom_five.sort_values('Overall_Pass_Rate')
bottom_five.head().style.format({
                            "Total School Budget": "${:,}", 
                            "Per Student Budget": "${:.0f}",
                            "% Passing Math": "{:.1%}", 
                            "% Passing Reading": "{:.1%}", 
                            "Overall_Pass_Rate": "{:.1%}" 
})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [10]:
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [11]:
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

reading_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [12]:
spending_bins = [0, 585, 615, 645, 675]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'],spending_bins)

group_spending = school_data_complete.groupby('spending_bins')

average_math = group_spending['math_score'].mean()
average_reading = group_spending['reading_score'].mean()
percentage_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/group_spending['Student ID'].count()
percentage_reading =school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/group_spending['Student ID'].count()
overall_passing =school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/group_spending['Student ID'].count()

scores_by_spending = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_reading,
    '% Passing Math': percentage_math,
    '% Passing Reading': percentage_reading,
    "Overall Passing Rate": overall_passing            
})
scores_by_spending.index.name = "Per Student Budget"
scores_by_spending.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [22]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 3000, 4000, 5000]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'],size_bins)

group_size = school_data_complete.groupby('size_bins')

average_math = group_size['math_score'].mean()
average_reading = group_size['reading_score'].mean()
percentage_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/group_size['Student ID'].count()
percentage_reading =school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/group_size['Student ID'].count()
overall_passing =school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/group_size['Student ID'].count()

scores_by_size = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_reading,
    '% Passing Math': percentage_math,
    '% Passing Reading': percentage_reading,
    "Overall Passing Rate": overall_passing            
})
scores_by_size.index.name = "Per Student Budget"
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [15]:
group_type = school_data_complete.groupby('type')

average_math = group_type['math_score'].mean()
average_reading = group_type['math_score'].mean()
percentage_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/group_type['Student ID'].count()
percentage_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/group_type['Student ID'].count()
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/group_type['Student ID'].count()
        
scores_by_type = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_reading,
    '% Passing Math': percentage_math,
    '% Passing Reading': percentage_reading,
    "Overall Passing Rate": overall_passing})
    
scores_by_type.index.name = "Type of School"
scores_by_type.style.format({'% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})